@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Anek Malayalam", sans-serif;
}

body {
  background: #f1fbff;
}

.calendar {
  padding: 20px 40px;
}

.months-container {
  justify-content: center;
  gap: 40px;
}

.calendar .months-container .month-container {
  background: #fff;
  padding: 20px;
  min-width: 280px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}

.calendar table.month th.month-title {
  color: #5a8990;
  font-size: 1.9rem;
  font-weight: 200;
  font-style: italic;
}

table.month td:first-child, td:last-child, th:first-child, th:last-child {
  color: #f75c90;
}

.calendar table.month td.day .day-content{
    padding: 6px 8px;
}

.calendar table.month th.day-header{
    font-size: 0.9em;
    font-weight: 700;
}

.calendar .calendar-header .year-title {
    color: #f75c90;
    font-size: 2em;
    font-weight: bold;
}

.calendar .calendar-header .year-title:hover{
    background-color: black;
    opacity: 0.7;
}

.day:hover{
    background-color: #f75c90;
    opacity: 0.7;
    color: #f1fbff;
}